    *,
	*::before,
	*::after {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}

	body {
	  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
	  background: #303e49;
	  color: #fff;
	  overflow-x: hidden;
	  padding-bottom: 100px;
	}  
	/* INTRO SECTION
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		.intro {
		  background: #303e49;
		  padding: 100px 0;
		}

		.container {
		  width: 90%;
		  max-width: 1200px;
		  margin: 0 auto;
		  text-align: center;
		}

		h1 {
		  font-size: 2.5rem;
		}

		h2 {
			position: relative;
			color: #888888;
			left: 2%;
		}

		.buttons {
			float: right;
			padding: 50px 25px;
			bottom: -50px;
		}

		.buttons a {
			margin: auto 5px;
			text-decoration: none;
		}

		.buttons a img {
			width: 30px;
		}
	
	/* TIMELINE
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		ul {
		  background: #d7e4ed;
		  padding: 50px 0;
		}

		ul li.li-lvl1 {
		  list-style-type: none;
		  position: relative;
		  width: 6px;
		  margin: 0 auto;
		  padding-top: 50px;
		  background: #fff;
		}

		ul li.li-lvl1::after {
		  content: '';
		  position: absolute;
		  left: 50%;
		  top: 0;
		  transform: translateX(-50%);
		  width: 30px;
		  height: 30px;
		  border-radius: 50%;
		  background: inherit;
		}

		ul li.li-lvl1 div.li-content {
		  position: relative;
		  top: -53px;
		  width: 500px;
		  padding: 15px;
		  background: #1a8cff;
          border-radius: 0.25em;
          padding: 1em;
          box-shadow: 0 3px 0 #d7e4ed;
		}

		ul li.li-lvl1 div.li-content::before {
		  content: '';
		  position: absolute;
		  top: 7px;
		  width: 0;
		  height: 0;
		  border-style: solid;
		}

		ul li.li-lvl1.align-left div.li-content {
		  left: 45px;
		}

		ul li.li-lvl1.align-left div.li-content::before {
		  left: -15px;
		  border-width: 8px 16px 8px 0;
		  border-color: transparent #1a8cff transparent transparent;
		}

		ul li.li-lvl1.align-right div.li-content {
		  left: -539px;
		}

		ul li.li-lvl1.align-right div.li-content::before {
		  right: -15px;
		  border-width: 8px 0 8px 16px;
		  border-color: transparent transparent transparent #1a8cff;
		}

		.timeline .company-name {
			font-weight: bold;
			color: #ffffcc;
			/*font-family: serif;*/
		}

		.timeline .additionalInfo {

		}

		.timeline .domain {
			font-weight: bold;
			/*font-family: serif;*/
		}

		p.in {
			display: none;
			text-align: right;
            font-size: 16px;
			font-weight: bold;
			color: #bebebe;
		}

		p.out {
            position: absolute;
            width: 150px;
            font-size: 24px;
			top: 0;
		  	transform: translateY(-7%);
			opacity: .85;
			color: #bebebe;
		}

		ul li.li-lvl1.align-left p.out {
            left: auto;
            right: 650%;
            text-align: right;
		}

		ul li.li-lvl1.align-right p.out {
            right: auto;
            left: 500%;
            text-align: left;
		}

		
	/* ABILITIES
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		/*.abilities{
			background: #d7e4ed;
			padding-bottom: 100px;
		}*/

		.abilities .separator{
		  list-style-type: none;
		  position: relative;
		  height: 6px;
		  margin: auto 0 20px 0;
		  padding-top: 3px;
		  background: #fff;
		}

		/*.abilities ul li.li-lvl1 div.li-content {
		  position: relative;
		  bottom: -18px;
		  padding: 15px;
		  width: 90%;
		  background: #1a8cff;
          border-radius: 0.25em;
          padding: 1em;
          box-shadow: 0 3px 0 #d7e4ed;
        }

        .abilities ul li.li-lvl1 div.li-content::before {
		  content: '';
		  position: absolute;
		  width: 0;
		  height: 0;
		  border-style: solid;
		}

		.abilities ul li.li-lvl1:nth-child(odd) {
		  left: 50%;
		  top: -6px;
		}

		.abilities ul li.li-lvl1:nth-child(odd) div.li-content {
		  float: right;
		  right: 5%;
		}

		.abilities ul li.li-lvl1:nth-child(odd) div.li-content::before {
		  left: 15px;
		  top: -15px;
		  border-width: 0px 8px 16px 8px;
		  border-color: transparent transparent #1a8cff transparent;
		}

		.abilities ul li.li-lvl1:nth-child(even) div.li-content {
			left: 5%;
		}

		.abilities ul li.li-lvl1:nth-child(even) div.li-content::before {
		  right: 15px;
		  top: -15px;
		  border-width: 0px 8px 16px 8px;
		  border-color: transparent transparent #1a8cff transparent;
		}*/

		ol.no-stype {
		  list-style-type: none;
		}

		.abilities .category-type {
			font-weight: bold;
			color: #ffffcc;
			/*font-family: serif;*/
		}

		.abilities .category {
			font-weight: bold;
			width: 75%;
			/*font-family: serif;*/
		}

		.abilities .additionalInfo {
			float: right;
			text-align: right;
			width: 75%;
		}

	/* EFFECTS
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		ul li.li-lvl1::after {
		  transition: background .5s ease-in-out;
		}

		ul li.li-lvl1.in-view::after {
		  background: #1a8cff;
		}

		ul li.li-lvl1 div.li-content {
		  visibility: hidden;
		  opacity: 0;
		  transition: all .5s ease-in-out;
		}

		ul li.li-lvl1.align-left div.li-content {
		  transform: translate3d(200px, 0, 0);
		}

		ul li.li-lvl1.align-right div.li-content {
		  transform: translate3d(-200px, 0, 0);
		}
		
		ul li.li-lvl1.in-view div.li-content {
		  transform: none;
		  visibility: visible;
		  opacity: 1;
		}

		ul li.li-lvl1 p.out {
		  visibility: hidden;
		  opacity: 0;
		  transition: all .5s ease-in-out;
		}
		ul li.li-lvl1.align-right p.out {
		  transform: translate3d(200px, 0, 0);
		}

		ul li.li-lvl1.align-left p.out {
		  transform: translate3d(-200px, 0, 0);
		}

		ul li.li-lvl1.in-view p.out {
		  transform: none;
		  visibility: visible;
		  opacity: 1;
		}


	/* GENERAL MEDIA QUERIES
	–––––––––––––––––––––––––––––––––––––––––––––––––– */

		@media screen and (max-width: 1100px) {
		  ul li.li-lvl1 div.li-content {
		    width: 400px;
		  }
		  ul li.li-lvl1.align-right div.li-content {
		    left: -439px;
		    /*250+45-6*/
		  }
		}

		@media screen and (max-width: 900px) {
		  ul li.li-lvl1 div.li-content {
		    width: 250px;
		  }
		  ul li.li-lvl1.align-right div.li-content {
		    left: -289px;
		    /*250+45-6*/
		  }
		}

		@media screen and (max-width: 600px) {
		  ul li.li-lvl1 {
		    margin-left: 20px;
		  }
		  ul li.li-lvl1 div.li-content {
		    width: calc(100vw - 91px);
		  }
		  ul li.li-lvl1.align-right div.li-content {
		    left: 45px;
		  }
		  ul li.li-lvl1.align-right div.li-content::before {
		    left: -15px;
		    border-width: 8px 16px 8px 0;
		    border-color: transparent #1a8cff transparent transparent;
		  }

		  p.out {
            display: none;
		  }

		  p.in {
            display: block;
		  }
		}
    